In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kc_house_data.csv')

In [4]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

В каком диапазоне изменяются стоимости недвижимости?
Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
Как много домов с разными этажами в данных?
Насколько хорошее состояния у домов в данных?
Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [24]:
print(f"цены от {df['price'].sort_values(ascending=False).min()} до {df['price'].sort_values(ascending=False).max()}")

цены от 75000.0 до 7700000.0

In [27]:
df.sqft_living.sum()/df.sqft_lot.sum()

0.1376781757959227

In [31]:
df.groupby('floors')['id'].count()

floors
1.0    10680
1.5     1910
2.0     8241
2.5      161
3.0      613
3.5        8
Name: id, dtype: int64

In [46]:
df.groupby('grade', as_index=False)['id'].count()

    grade    id
0       1     1
1       3     3
2       4    29
3       5   242
4       6  2038
5       7  8981
6       8  6068
7       9  2615
8      10  1134
9      11   399
10     12    90
11     13    13

In [35]:
print(df.yr_built.astype(int).min(), df.yr_built.astype(int).max())

1900 2015

Сколько в среднем стоят дома, у которых 2 спальни?
Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
Как много домов коснулся ремонт?
Насколько в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [58]:
df[df.bedrooms==2]['price'].mean()

401372.681884058

In [60]:
df[df.price>600000]['sqft_lot'].mean()

20442.524776214832

In [64]:
df[df.yr_renovated!=0]['id'].count()

914

In [66]:
df[df.grade>10]['price'].mean() - df[df.grade<4]['price'].mean()

1488885.1175298805

Выберите дом клиенту. Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
Выберите дом клиенту. Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
Выберите дом клиенту. Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [74]:
df[(df['waterfront']==1)&(df['bathrooms']>=3)&(df.sqft_basement!=0)]['id'].count()

41

In [78]:
df[((df['view']==1)|(df['waterfront']==1))&(df.grade>10)&(df.yr_built>=1980)]['price'].agg(['max', 'min'])

max    5300000.0
min    1060000.0
Name: price, dtype: float64

In [83]:
df[(df.sqft_basement==0)&(df.floors==2)&(df.price<150000)]['grade'].mean()

7.0